@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  Font-size: 18px;
  Line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1200px;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-logo {
  width: 140px;
  margin-left: 70px;
  margin-right: 44px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 268px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.navigation-button {
  background-color: #756157;
  color: #FFFFFF;
  padding: 8px 34px;
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
  padding-top: 51px;
}

.main-index {
  background-image: url("../images/index-background.jpg");
  background-color: #FFFFFF;
  color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
}

.advantages {
  text-align: center;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

advantage-item {
  width: 400px;
  margin: 0;
}

.advantages-main-description {
  font-family: "PT Sans", sans-serif;
  Font-size: 22px;
  Line-height: 26px;
  margin-top: 0;
  margin-bottom: 90px;
}

.advantages-img-left {
  display: block;
  margin-right: auto;
}

.advantages-img-right {
  display: block;
  margin-left: auto;
}

.advantages-main-title {
  font-family: "PT Sans", sans-serif;
  margin-top: 69px;
  margin-bottom: 25px;
  Font-size: 30px;
  Line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.advantage-title {
  margin-top: 103px;
  margin-bottom: 62px;
}

.advantage-description {
  margin-bottom: 121px;
}

.advantage-item-image .advantage-title {
  margin-top: 92px;
}

.advantage-item-image .advantage-description {
  margin-bottom: 111px;
}

.advantage-img {
  display: block;
  margin-top: 80px;
  margin-bottom: 30px;
}

.advantages-item-service .advantages-title {
  margin-bottom: 30px;
}

.advantages-item-service .advantage-description {
  margin-bottom: 81px;
}

.advantage-item-image {
  background-color: rgba(130, 179, 211, 1);
  color: #FFFFFF;
}

.advantage-item-white {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantage-item-blue {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantage-item-hotel {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  background-repeat: no-repeat;
  background-position: 164px 80px;
}

.advantage-item-food {
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
  background-repeat: no-repeat;
  background-position: 164px 81px;
}

.advantage-item-souvenirs {
  background-image: url("../images/souvenirs.svg");
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  background-repeat: no-repeat;
  background-position: 169px 78px;
}

.search {
  text-align: center;
  margin-top: 96px;
}

.search-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.search-description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
  color: #000000;
  background-color: #FFFFFF;
}

.search-button {
  font-family: "PT Sans", sans-serif;
  display: block;
  padding: 8px 50px;
  margin-bottom: 96px;
  Font-size: 20px;
  Line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  color: #FFFFFF;
}

.page-footer-title {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  margin-top: 96px;
  margin-bottom: 20px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.newsletter {
  background-image: url("../images/footer/background-footer.jpg");
  color: #82B3D3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  width: 1200px;
  text-align: center;
}

.newsletter-description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
}

.newsletter-button {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
}

.footer-social {
  display: flex;
  width: 142px;
  margin: 45px 42px 35px 70px;
}

.footer-social-list {
  list-style-type: none;
}

.footer-social-item {
  min-width: 48px;
  min-height: 40px;
}

.footer-social-link {
  padding: auto;
}

.footer-contact {
  width: 720px;
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-right: 42px;
  padding: 5px 194px;
  text-decoration: none;
  font-style: normal;
}

.footer-logo {
  width: 115px;
  margin-right: 70px;
  margin-top: 49px;
  margin-bottom: 38px;
}

.footer-logo-link {
  display: block;
  background-image: url("../images/footer/html-academy.svg");
  background-color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* Каталог */
.inner-header {
  width: 1000px;
  margin: 35px 70px 40px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 28px;
  color: inherit;
}

.sorting-container {
  display: flex;
  width: 1000px;
  align-items: center;
  margin: 50px 70px 40px;
}

.catalog-products-search-results {
  width: 538px;
}

.catalog-button {
  margin-right: 8px;
  min-width: 48px;
  min-height: 48px;
  padding: 17px 16px;
}

.catalog-button:nth-child(3n) {
  margin-left: auto;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-products {
  display: flex;
  width: 1200px;
}

.catalog-filter-group {
  display: flex;
  justify-content: flex-start;
}

.catalog-products-list {
  width: 151px;
  margin-left: 70px;
}

.main-inner {
  background-image: url("../images/catalog/background-catalog.jpg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  color: #000000;
}

.catalog-products {
  color: #FFFFFF;
  text-align: center;
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  Line-height: 24px;
  font-weight: 700px;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.catalog-products-search-results {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-transform: uppercase;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.button-blue {
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.button-green {
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.pagination-container {
  display: flex;
  background-color: #ffffff;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination-blue {
  background-color: #82B3D3;
}
